{% extends 'default.html' %}

{% block content %}
    <a id="view"></a>
    <div class="hero is-dark">
        <div class="hero-body">
            <h1 class="title is-1">View All Words</h1>
            <h3 class="subtitle is-3">Total Words: {{ total_count }} </h3>
            <div class="columns">
                {% for category_name, items in word_data|groupby("category_name") %}
                    <div class="column">
                    <div class="notification is-{{ loop.cycle('primary', 'info') }}">
                        <h3 class="title is-3">{{ category_name }}</h3>
                        <h4 class="subtitle is-4">{{ items|length }} items</h4>
                        <div class="content">
                            <ul>
                                {% for item in items %}
                                <li>{{ item.name|e }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
