
{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en-gb" class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/js/all.min.js') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}"> -->
    <!-- <script type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.slim.min.js'></script> -->
    <script type='text/javascript' src='{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='scripts.js') }}'></script>
    <!-- <script src="https://hcaptcha.com/1/api.js?hl=en" async defer></script> -->
    
    {{ macros.matomo_tracker() }}

</head>
<body>
<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    {% block nav %}
        <div class="navbar-brand">
            {{ macros.logo_if_defined() }}
            <a class="navbar-item" href="/">
                <strong>{{ title }}</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main_navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="main_navbar" class="navbar-menu slideout">
            <div class="navbar-end">
                {{ macros.navbar_item('/play', 'Play') }}
                {{ macros.navbar_item('/', 'Submit Words') }}
                {{ macros.navbar_item('/all', 'All Words') }}
                {{ macros.navbar_item('/new-category', 'Create Category') }}
                {{ macros.navbar_item('/teams', 'Create Teams') }}
            </div>
        </div>
    {% endblock %}
</nav>
<section>
    {% block content %}{% endblock %}
</section>

{{ macros.footer(author, year) }}

</body>
</html>

