{% extends 'default.html' %}
{% import "macros.html" as macros %}

{% block content %}
    <a id="view"></a>
    <div class="hero is-dark">
        <div class="hero-body">
            <h1 class="title is-1">Submit Words</h1>
            {{ macros.print_messages() }}
            <div>
                <form method="post" action="/" name="submit">
                    {{ form.csrf_token }}
                    <div id="subforms-container" class="field">
                        {# {% if subform|length < 5 %} #}
                        {% for subform in form.words %}
                            {{ macros.render_word_form(subform, loop.index0) }}
                        {% endfor %}
                        {# {% else %}
                            {% for subform in range(5) %}
                                {{ macros.render_word_form(form.words|first, loop.index0) }}
                            {% endfor %}
                        {% endif %} #}
                    </div>
                    <div class="field">
                        <div class="control">
                            <a id="add" href='#addbox' class='button'>Add Another Box</a>
                        </div>
                    </div>

                    <div class="field">
                        <p class="control">
                            {{ form.category|e }}
                        </p>
                    </div>

                    {% if xcaptcha is defined %}
                    <div class="field">
                        <div class="control">
                            {{ xcaptcha }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="field">
                        <div class="control">
                            {{ form.submit_f }}
                        </div>
                    </div>
                </form>


                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}

                {# Form template #}
                {{ macros.render_word_form(_template, '_') }}
            </div>
        </div>
    </div>

    {{ macros.print_counts(total_count, category_data, word_data) }}
{% endblock %}
