{# templates/macros.html #}
{# Render word form.

This macro is intended to render both regular word subforms (received from the
server) and the template form used to dynamically add more forms.

Arguments:
    - subform: Form object to render
    - index: Index of the form. For proper subforms rendered in the form loop,
             this should match `loop.index0`, and for the template it should be
             '_'
#}
{%- macro render_word_form(subform, index) %}
        <div id="word-{{ index }}-form" class="field {% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}">
    <div class="control">
            {{ subform.word }}
        </div>
    </div>
{%- endmacro %}

{%- macro matomo_tracker() -%}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        _paq.push(['enableHeartBeatTimer']);
        (function() {
            var u="//matomo.maxlevine.co.uk/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
{%- endmacro %}

{%- macro navbar_item(link, text) -%}
                <a class="navbar-item" href="{{link}}">
                    {{ text }}
                </a>
{%- endmacro %}

{%- macro logo_if_defined() -%}
    {% if logo is defined and logo|length %}
        <a class="navbar-item" href="/">
            <object type="image/svg+xml" data="{{ logo }}" alt="{{ title }} logo">
                <img src="{{ logo_png }}" alt="{{ title }} logo">
            </object>
        </a>
    {% endif %}
{%- endmacro %}


{%- macro footer(author, year) -%}
    <footer class="footer is-link hero is-paddingless">
        <div class="content has-text-centered hero-body">
            <p>
                <strong class="has-text-light">{{ author }}</strong> &#169; {{ year }}
            </p>
        </div>
    </footer>
{%- endmacro %}


{%- macro print_messages() -%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="field notification is-primary">
                    <span><strong>{{ message }}</strong></span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{%- endmacro %}

{%- macro print_counts(total_count, category_data, word_data) -%}
    <a id="counts"></a>
    <div class="hero is-light">
        <div class="hero-body">
            <h1 class="title is-1">Category Counts</h1>
            <h3 class="subtitle is-3">Total Words: {{ total_count }} </h3>
            <div class="content">
                <ul>
                    {% for category in category_data %}
                        <li>{{ category.name|e }} : {{ word_data|map(attribute="category_name")|select("equalto", category.name)|list|length }} items ({{ (100 * word_data|map(attribute="category_name")|select("equalto", category.name)|list|length / total_count) | round(2) }}%)</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{%- endmacro %}

{%- macro name() -%}
{%- endmacro %}
