{% extends 'default.html' %}

{% block content %}
    <a id="view"></a>
    <div class="hero is-dark">
        <div class="hero-body">
            <h1 class="title is-1">Create New Category</h1>
            <div class='notification is-light'>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="field notification is-primary">
                                <span><strong>{{ message }}</strong></span>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form id="new-category-form" method="post" action="/new-category" name="new-category-form">
                    {{ form.csrf_token }}
                    <div class="field">
                        <p class="control">
                            {{ form.category }}
                        </p>
                    </div>
                    {% if xcaptcha is defined %}
                    <div class="field">
                        <div class="control">
                            {{ xcaptcha }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="field">
                        <div class="control">
                            {{ form.submit_f }}
                        </div>
                    </div>
                </form>

                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
            </div>


        </div>
    </div>
{% endblock %}
