{% extends 'default.html' %}

{% block content %}
    <a id="play"></a>
    <div class="hero is-dark">
        <div class="hero-body">
            <h1 class="title is-1">Play</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="field notification is-primary">
                            <span><strong>{{ message }}</strong></span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class='play-words'>
                {%- if word_data is defined and word_data|length -%}
                    {%- for word in word_data -%}
                        {%- if loop.index0 == 0 %}
                            <div class="play-word notification is-light is-active">
                        {%- else -%}
                            <div class="play-word notification is-light is-hidden">
                        {% endif %}
                                <h3 class="title is-3 has-text-dark">{{ word|e }}</h3>
                                <button class="button next-word increment is-link">Next word</button>
                            </div>
                    {% endfor %}
                    <div class="notification is-link">
                        <div class="content">
                            <h3 class="title is-3">Past words (total: <span class="count">0</span>)</h3>
                            <ol class="past-words"></ol>
                            <input type="reset" class="is-danger button reset-count">
                        </div>
                    </div>
                {%- elif word_data is defined -%}
                    <div class="field notification is-danger">
                        <span><strong>No words found for category</strong></span>
                    </div>
                {%- else -%}
                    <div class="field notification is-primary">
                        <span><strong>Please choose a category</strong></span>
                    </div>
                {% endif %}
                <div class='notification is-light'>
                    <h3 class="title is-3 has-text-dark">Choose category</h3>
                    <form id="play-form" method="post" action="/play" name="play-form">
                        {{ form.csrf_token }}
                        <div class="field">
                            <p class="control">
                                {{ form.category|e }}
                            </p>
                        </div>

                        <div class="field">
                            <div class="control">
                                {{ form.submit_f(value='Choose category') }}
                            </div>
                        </div>
                    </form>

                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                </div>
            </div>

            
        </div>
    </div>

    
{% endblock %}
