{% extends 'default.html' %}

{% block content %}
    <a id="teams"></a>
    <div class="hero is-dark">
        <div class="hero-body">
            <h1 class="title is-1">Pick teams</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="field notification is-primary">
                            <span><strong>{{ message }}</strong></span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class='teams'>
                {% if teams %}
                    <div class='columns is-centered is-multiline'>
                    {% set colour_classes = ['has-background-link', 'has-background-danger', 'has-background-warning-dark', 'has-background-success'] %}
                    {% for team in teams %}
                    <div class='column'>
                        <div class='notification {{ colour_classes[loop.index0 % (colour_classes | length)] }}'>
                            <p class="title is-4">{{ loop.index }}</p>
                            <ul>
                            {% for name in team %}
                                <li>{{ name }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class='notification is-light'>
                    <form id="teams-form" method="post" action="/teams" name="teams-form">
                        {{ form.csrf_token }}
                        <div class="field">
                            <label class="label">Number of teams</label>
                            <p class="control">
                                {{ form.quantity|e }}
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">List of names</label>
                            <p class="control">
                                {{ form.names|e }}
                            </p>
                        </div>

                        <div class="field">
                            <div class="control">
                                {{ form.submit_f }}
                            </div>
                        </div>
                    </form>

                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
